* {
 text-align: center;
}
h1 {
 font-size: 50px;
}
.Guestionnaire {
 max-width: 800px;
 margin: 0 auto;
 padding: 0px 20px;
 text-align: center;
}
.input {
 margin-left: 20px;
}
.hidden {
 display: none;
}
