* {
 text-align: center;
}
h1 {
 font-size: 50px;
}
.Guestionnaire {
 max-width: 800px;
 margin: 0 auto;
 padding: 0px 20px;
 text-align: center;
}
.Guestion {
 border: 1px solid gray;
 margin-bottom: 20px;
 padding: 15px;
 display: block;
}
.input {
 margin-left: 20px;
}
.unknown {
 background-color: white;
}
.right {
 background-color: #cfeecf;
}
.wrong {
 background-color: #eecaca;
}
.summary {
 font-size: 30px;
}
.hidden {
 display: none;
}
